<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <%= render partial: "partials/libraries" %>
</head>

<body bgcolor="#e9e9e9" class="logIn">
  
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Sign in</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
    <div class="tooltip">Don't have an account?</div>
  </div>
  <div class="form">
    <h2>Login to your account</h2>
    <%= form_with scope: :session, url: login_path, local: true do |form| %>
      <div class="form-group">
        <%= form.text_field :email, placeholder: "Email Address" %>
      </div>
      <div class="form-group">
        <%= form.password_field :pass, placeholder: "Password" %>
      </div>
      <button type="submit" id="log-in">Register</button>
    <% end %>    
  </div>
  <div class="form">
    <h2>Create an account</h2>
    <%= form_with scope: :user, url: user_index_path, local: true do |form| %>
      
      <div class="form-group">
        <%= form.text_field :name, placeholder: "Username" %>
      </div>
      <div class="form-group">
        <%= form.text_field :email, placeholder: "Email Address" %>
      </div>
      <div class="form-group">
        <%= form.password_field :password, placeholder: "Password" %>
      </div>
      <div class="form-group">
        <%= form.password_field :nil, placeholder: "Retype Password" %>
      </div> 
      <button type="submit" id="sign-up">Register</button>
    <% end %>
  </div>
</div>
</body>
</html>