<div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
			      <!--<img id="logo" src="" alt="Logo"/>-->
			  </a> </div>
		    <div class="menu">
		      	<ul id="menu" >
		        <li class="<%= @active_home %>" id="menu-home">
		        	<a href="/"><i class="fa fa-tachometer"></i><span>Home</span></a></li>
		        <li class=""><a href="#"><i class="fa fa-envelope" ></i><span>Messages</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub" >
		        	 	<li><%= link_to "Inbox", user_index_path, id: "menu-academico-avaliacoes"%></li>
		        	 	<li><%= link_to "New message", user_index_path, id: "menu-academico-boletim"%></li>
		        	 	<li><%= link_to "Sent", user_index_path, id: "menu-academico-boletim"%></li>
					</ul>
		        </li>
		         <li class="<%= @active_users %>">
		         	<%= link_to user_index_path do %>
			         	<i class="fa fa-users"></i>
			         	<span>Users</span>
		         	<% end %>
		         </li>
		         <li class="<%= @active_about %>">
		         <%= link_to about_path do %>
		         	<i class="fa fa-info-circle"></i><span>About</span>
		         <% end %>
		         </li>
		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
