<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
 -->
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Mailbox</title>
<%= render partial: "partials/libraries" %>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>
<div class="page-container">
   <div class="left-content">
     <div class="mother-grid-inner">
            <!--header start here-->
            <%= render partial: "partials/header" %>
  </div>
<!--heder end here-->
<!-- script-for sticky-nav -->
    <script>
    $(document).ready(function() {
       var navoffeset=$(".header-main").offset().top;
       $(window).scroll(function(){
        var scrollpos=$(window).scrollTop();
        if(scrollpos >=navoffeset){
          $(".header-main").addClass("fixed");
        }else{
          $(".header-main").removeClass("fixed");
        }
       });
    });
    </script>
    <!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
  <div class="row">
      <% if @disable_user_partial %>
          <%= yield%>
      <% else %>
            <%= render partial: "partials/user"%> 
            <div class="col-md-8 col-sm-12 col-xs-12 mailbox-content  tab-content tab-content-in">
              <%= yield%> 
            </div>
      <% end %>

  </div>
  <div class="clearfix"> </div>
</div>

<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
   <p>All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> Editted by our team </p>
</div>
<!--COPY rights end here-->
</div>

<!--slider menu-->
    <%= render partial: "partials/sidebar" %>
<!--slide bar menu end here-->

<script>
var toggle = true;
$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
</script>
</body>
</html>